body{
  background-color: rgb(245, 240, 240);
  font-family: sans-serif;
  margin-top: 150px;

}
.login{
    max-width:500px;
    height:500px;
    
    margin: auto;
    margin-top: 50px;
    

}
.head{
    text-align: center;
    color: rgb(83, 83, 241);
    font-size: 40px;
    margin-top: 100px;
    
}
.main-box{
    max-width: 510px;
    height: 300px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 10px;
    background-color: white;
    box-shadow: -5px 5px 3px rgba(0,0,0,0.3);
   

}
.table-head{
    text-align: center;
   font-size: 20px;
   padding-top: 20px;

}

.box-head{
    
   
    
}
.box{
    height: 20px;
    width: 450px;
    border-radius: 5px;
    margin-left: 15px;
    margin-top: 10px;
    border: 0.5px;
    background-color: whitesmoke;
    padding: 10px;

}
.box1{
    height: 20px;
    width: 450px;
    border-radius: 5px;
    margin-left: 15px;
    margin-top: 10px;
    border: 0.5px;
    background-color: whitesmoke;
    padding: 10px;
    

}
.button{
    height: 50px;
    width: 470px;
    border-radius: 5px;
    margin-left: 15px;
    margin-top: 10px;
    border: 0.5px;
    background-color: rgb(83, 83, 241);
    font-size: 20px;
    
    color: white;

}
.forget{
   margin-left: 100px;
   text-decoration:none ;


}
.sing{
    text-decoration:none ;
}

]